cython
numpy==1.23.0
scipy
tqdm
einops
shapely
pyarrow
pyparsing
terminaltables
prettytable
evaluate
fairscale
yapf==0.32.0
tensorboardX==2.0
timm==0.9.10
h5py
submitit
openpyxl
scikit-image
scikit-learn
progressbar2
pysodmetrics
pytorch-fid==0.3.0
transformers==4.37.2
sentencepiece==0.2.0
accelerate==0.30.0
bitsandbytes==0.42.0
deepspeed==0.12.3
peft==0.9.0
tokenizers==0.15.2
sentence-transformers==2.7.0
huggingface_hub==0.25.1
diffusers==0.30.2
